# Website A/B Testing - Lab

## Introduction

In this lab, you'll get another chance to practice your skills at conducting a full A/B test analysis. It will also be a chance to practice your data exploration and processing skills! The scenario you'll be investigating is data collected from the homepage of a music app page for audacity.

## Objectives

You will be able to:
* Analyze the data from a website A/B test to draw relevant conclusions
* Explore and analyze web action data

## Exploratory Analysis

Start by loading in the dataset stored in the file 'homepage_actions.csv'. Then conduct an exploratory analysis to get familiar with the data.

> Hints:
    * Start investigating the id column:
        * How many viewers also clicked?
        * Are there any anomalies with the data; did anyone click who didn't view?
        * Is there any overlap between the control and experiment groups? 
            * If so, how do you plan to account for this in your experimental design?

In [1]:
#Your code here
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('homepage_actions.csv')
df

                       timestamp      id       group action
0     2016-09-24 17:42:27.839496  804196  experiment   view
1     2016-09-24 19:19:03.542569  434745  experiment   view
2     2016-09-24 19:36:00.944135  507599  experiment   view
3     2016-09-24 19:59:02.646620  671993     control   view
4     2016-09-24 20:26:14.466886  536734  experiment   view
...                          ...     ...         ...    ...
8183  2017-01-18 09:11:41.984113  192060  experiment   view
8184  2017-01-18 09:42:12.844575  755912  experiment   view
8185  2017-01-18 10:01:09.026482  458115  experiment   view
8186  2017-01-18 10:08:51.588469  505451     control   view
8187  2017-01-18 10:24:08.629327  461199     control   view

[8188 rows x 4 columns]

In [3]:
df.info()
len(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8188 entries, 0 to 8187
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  8188 non-null   object
 1   id         8188 non-null   int64
 2   group      8188 non-null   object
 3   action     8188 non-null   object
dtypes: int64(1), object(3)
memory usage: 256.0+ KB

8188

In [4]:
df['group'].value_counts()

control       4264
experiment    3924
Name: group, dtype: int64

Number of viewers, view = 6328
Number of clickers, click = 1860
Numbers of viewers who did not click= 6328-1860=4468
Number of clickers who did not view = 0

In [5]:
clickids = set(df[df.action=='click']['id'].unique())
viewids = set(df[df.action=='view']['id'].unique())
print("Number of viewers: {} \tNumber of clickers: {}".format(len(viewids), len(clickids)))
print("Number of Viewers who didn't click: {}".format(len(viewids-clickids)))
print("Number of Clickers who didn't view: {}".format(len(clickids-viewids)))

Number of viewers: 6328 	Number of clickers: 1860
Number of Viewers who didn't click: 4468
Number of Clickers who didn't view: 0

In [6]:
df['count']= 1
df.head()

                    timestamp      id       group action  count
0  2016-09-24 17:42:27.839496  804196  experiment   view      1
1  2016-09-24 19:19:03.542569  434745  experiment   view      1
2  2016-09-24 19:36:00.944135  507599  experiment   view      1
3  2016-09-24 19:59:02.646620  671993     control   view      1
4  2016-09-24 20:26:14.466886  536734  experiment   view      1

In [7]:
df.notnull()

      timestamp    id  group  action  count
0          True  True   True    True   True
1          True  True   True    True   True
2          True  True   True    True   True
3          True  True   True    True   True
4          True  True   True    True   True
...         ...   ...    ...     ...    ...
8183       True  True   True    True   True
8184       True  True   True    True   True
8185       True  True   True    True   True
8186       True  True   True    True   True
8187       True  True   True    True   True

[8188 rows x 5 columns]

## Conduct a Statistical Test

Conduct a statistical test to determine whether the experimental homepage was more effective than that of the control group.

In [8]:
#Convert clicks into a binary variable on a user-by-user-basis
control = df[df.group=='control'].pivot(index='id', columns='action', values='count')
control = control.fillna(value=0)

experiment = df[df.group=='experiment'].pivot(index='id', columns='action', values='count')
experiment = experiment.fillna(value=0)

n1= len(control)
n2= len(experiment)
sum1= control.click.sum()
sum2= experiment.click.sum()
mean1= sum1/n1
mean2= sum2/n2
print ((mean1, mean2))

(0.2797118847539016, 0.3097463284379172)

In [9]:
#Your code here
#Convert clicks into a binary variable on a user-by-user-basis
control = df[df.group=='control'].pivot(index='id', columns='action', values='count')
control = control.fillna(value=0)

experiment = df[df.group=='experiment'].pivot(index='id', columns='action', values='count')
experiment = experiment.fillna(value=0)



print("Sample sizes:\tControl: {}\tExperiment: {}".format(len(control), len(experiment)))
print("Total Clicks:\tControl: {}\tExperiment: {}".format(control.click.sum(), experiment.click.sum()))
print("Average click rate:\tControl: {}\tExperiment: {}".format(control.click.mean(), experiment.click.mean()))
control.head()

Sample sizes:	Control: 3332	Experiment: 2996
Total Clicks:	Control: 932.0	Experiment: 928.0
Average click rate:	Control: 0.2797118847539016	Experiment: 0.3097463284379172

action  click  view
id
182994    1.0   1.0
183089    0.0   1.0
183248    1.0   1.0
183515    0.0   1.0
183524    0.0   1.0

In [10]:
import scipy.stats as stats
stats.ttest_ind(control.click, experiment.click, equal_var= True)

Ttest_indResult(statistic=-2.6195696844542202, pvalue=0.008825098914958293)

## Verifying Results

One sensible formulation of the data to answer the hypothesis test above would be to create a binary variable representing each individual in the experiment and control group. This binary variable would represent whether or not that individual clicked on the homepage; 1 for they did and 0 if they did not. 

The variance for the number of successes in a sample of a binomial variable with n observations is given by:

## $n\bullet p (1-p)$

Given this, perform 3 steps to verify the results of your statistical test:
1. Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group. 
2. Calculate the number of standard deviations that the actual number of clicks was from this estimate. 
3. Finally, calculate a p-value using the normal distribution based on this z-score.

### Step 1:
Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group.

In [11]:
#Your code here
control_rate = control.click.mean()
expected_experiment_clicks_under_null = control_rate * n2
print(expected_experiment_clicks_under_null)

838.0168067226891

### Step 2:
Calculate the number of standard deviations that the actual number of clicks was from this estimate.

In [12]:
#Your code here
n = len(experiment)
p = control_rate
var = n2 * p * (1-p)
std = np.sqrt(var)
print(std)

24.568547907005815

### Step 3: 
Finally, calculate a p-value using the normal distribution based on this z-score.

In [13]:
#Your code here
import scipy.stats as stats
from scipy.stats import norm
b= expected_experiment_clicks_under_null
p_val =  1 - stats.norm.cdf(/std)
print(p_val)

SyntaxError: invalid syntax (<ipython-input-13-24b64bfa5bb1>, line 5)

### Analysis:

Does this result roughly match that of the previous statistical test?

> Comment: es, while the p-value is slightly lower, 
 both would lead to confident rejection of the null hypothesis. 
 The experimental page appears to be a more effective design.

## Summary

In this lab, you continued to get more practice designing and conducting AB tests. This required additional work preprocessing and formulating the initial problem in a suitable manner. Additionally, you also saw how to verify results, strengthening your knowledge of binomial variables, and reviewing initial statistical concepts of the central limit theorem, standard deviation, z-scores, and their accompanying p-values.